/*  Mobile & Tablet  */
@media only screen and (max-width: 1023px){
}

/* Mobile */
@media only screen and (max-width: 739px){
    body {
        background: url(../../../img/phone_bg2.jpg);
    }
    .info, 
    .notification {
        font-size: 1.3rem;
        height: fit-content;
        padding-bottom: 30px;
        line-height: 55px;
    }
    
    .select{
        display: none !important;
    }
    
    .back {
        display: none !important;
    }
    
    .back-mobile {
        left: 15px;
        top: 50px;
    }
    
    body {
        background-size: auto 1194px;
    }
    
    .card {
        margin-top: 23px;
    }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .back-mobile {
        display: none !important;
    }

    .back {
        left: 100px;
        top: 82px;
    }
    
    .select-mobile {
        display: none !important;
    }

    .select {
        width: 600px;
    }
    body {
        background-size: auto 1194px;
    }
}

/* PC */
@media only screen and (min-width: 1024px){
    .back-mobile {
        display: none !important;
    }
    
    .select-mobile {
        display: none !important;
    }
    body {
        background-size: auto 2000px;
    }
}

/* Customize */
@media only screen and (max-width: 350px){
    .card img,
    .card--img__content{
        width: 300px;
        height: 415px;
    }

    .btn {
        margin-top: 10px;
        padding: 9px;
        margin-bottom: 10px;
    }
}
@media only screen and (width: 768px){
    body {
        background-size: auto 1495px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    body {
        background-size: auto 1194px;
    }
}