/*  PC low resolution >  */
@media only screen and (min-width: 1024px) {
    .back-mobile {
        display: none !important;
    }
}

/* Mobile */

@media only screen and (max-width: 739px){
    body {
        background: url(../../../img/phone_bg2.jpg);
    }
    .input-name--input {
        width: 300px;
    }
    .back  {
        display: none !important;
    }

    .back-mobile {
        left: 10px;
        top: -50px;
    }
    
    .alert {
        color: #18eeb8;
    }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    body {
        background-size: auto 1194px;
    }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .back-mobile {
        display:none !important;
    }
    .back  {
        left: 0;
        top: -50px;
    }

}

/*  Mobile & Tablet  */
@media only screen and (max-width: 1023px){

}
